@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

.scroll{
    padding-top: 20%;
    padding-bottom: 20%;
}
.secession{
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: 200;
    color: gray;
    font-size: 15px;
}