@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

.Information{
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    margin-bottom: 20px;
}
.title{
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
.input_box{
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    width: 300px;
    height: 40px;
}

.verify_btn{
    width: 70px;
    height: 40px;
    background-color: #5CE1E6;
    color: #ffffff;
    border-radius: 10px;
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
}