@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

.title{
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
}


.textarea_box{
  width: 300px;
  height: 200px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  font-size: 20px;
  margin-bottom: 10%;
}

.submit_button{
  width: 120px  ;
  background-color: #5CE1E6;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  color: white;
  position: absolute;
  margin-left: 50px;
}

.sub_title{
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: left;
}