.header_box{
    width: 475%;
    border-bottom: solid 1px #000000;
    margin-left: -180%;
}
.logo_location{
    margin-bottom: 20px;
}
.header_location{
    position: fixed;
    top: 40px;
    left: 40%;
}
