.header_location {
    position: fixed;
    width: 100%;
    border-bottom: solid 1px #000000;
    top: 0px;
    left: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: white !important; /* 우선순위 높이기 */
    z-index: 1000; /* 다른 요소 위에 표시되도록 z-index 설정 */
}
