.slideshow {
    width: 100%;
    overflow: hidden;
  }
  
  .slide {
    position: relative;
  }
  
  .photo {
    width: 100%;
    height: auto;
  }

  .image {
    width: 100%;
    height: auto;
  }
  
  
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
  }
  

  @media screen and (min-width: 768px) {
    .photo {
        padding-top: 20%;
    }

}